# Flutter
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
.vscode/
android/.gradle/
android/app/*.keystore
.flutter-plugins
flutter_export_environment.sh
generated_plugin_registrant.dart

# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
Podfile.lock

# Web
build/web/

# Windows
windows/Runner/GeneratedPluginRegistrant.*
windows/build/

# macOS
macos/Runner/GeneratedPluginRegistrant.*
macos/build/

# Linux
linux/Runner/GeneratedPluginRegistrant.*
linux/build/

# VS Code
.vscode/

# IntelliJ related
*.iml
.idea/

# Other
*.log
*.lock
